<div class="navbar navbar-inverse navbar-fixed-top top-menu" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><%= link_to t('about'), '#about' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="home" name="home">
	<div class="container">
		<div class="row">
			<h1><span>Mariana</span> & <span>Rafael</span></h1>
		</div>
		<div class="row images">
			<span class="her pile"> </span>
			<span class="him pile"> </span>
		</div>
	</div>
</div><!-- /#home -->

<div class="bg-white-area">
	<div class="container">
		<div class="row">
			<%= content_tag :h2, t('are_getting_married') %>
		</div>
		<div class="row date">
			19.09.2015
		</div>
		<div class="row">
			<div class="countdown-timer">
				<span><%= raw t('in') %> <span id="timer"></span></span>
			</div>
		</div>
		<div id="about" class="row">
			<div class="both">
				<div class="she">
					<%= raw t('her_description') %>
				</div>
				<div class="he">
					<%= raw t('his_description') %>
				</div>
			</div>
		</div>
		<div class="row they">
			<%= raw t('their_story') %>
		</div>
	</div>
</div>