<div class="navbar navbar-inverse navbar-fixed-top top-menu" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><%= link_to t('about'), '#about' %></li>
        <li><%= link_to t('ceremony'), '#ceremony' %></li>
        <li><%= link_to t('gifts'), '#gifts' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="home" name="home">
	<div class="container">
		<div class="row">
			<h1><span>Mariana</span> & <span>Rafael</span></h1>
		</div>
		<div class="row images">
			<span class="her pile"> </span>
			<span class="him pile"> </span>
		</div>
	</div>
</div><!-- /#home -->

<div id="about" class="bg-white-area">
	<div class="container">
		<div class="row">
			<%= content_tag :h2, t('are_getting_married') %>
		</div>
		<div class="row date">
			19.09.2015
		</div>
		<div class="row">
			<div class="countdown-timer">
				<span><%= raw t('in') %> <span id="timer"></span></span>
			</div>
		</div>
		<div id="one-one" class="row">
			<div class="two">
				<div class="she">
					<%= raw t('her_description') %>
				</div>
				<div class="he">
					<%= raw t('his_description') %>
				</div>
			</div>
		</div>
		<div class="row they">
			<%= raw t('their_story') %>
		</div>
	</div>
</div>

<div id="ceremony">
</div>

<div class="bg-white-area">
	<div id="ceremony-info">
		<div id="ceremony-address">
			<div class="address">
				<%= image_tag("chapel.jpg", :width=>"300", :height=>"300", :alt=>t('chapel_image')) %>

				<%= content_tag :h3, t('alpendre_site') %>
				<%= content_tag :p, t('site_address') %>
				<%= link_to t('show_in_google_maps'), 'https://www.google.com/maps/d/viewer?mid=za8fH5Klo2rg.kfpt6GmGcFtE' %>
			</div>

			<div class="ceremony-reception">
				<%= content_tag :h4, t('ceremony') %>
				<p>16h30</p>
			</div>

			<div class="ceremony-reception">
				<%= content_tag :h4, t('reception') %>
				<p>18h00</p>
			</div>
		</div>
	</div>
</div>

<div id="map">
</div>

<div id="verse">
	<div class="container">
		<div class="row">
			<blockquote>
				<p><%= raw t('verse_message') %></p>
				<footer>
					<cite><%= link_to t('verse_source'), 'https://bible.com/pt/129/gen.2.18-24.nvi' %></cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>

<div id="gifts">
	<div class="container">
		<div class="row">
			<div>
				<%= content_tag :h2, t('gifts_registry') %>
				<%= content_tag :h3, t('gifts_ideas') %>
				<%= content_tag :p, t('gifts_description') %>
				<ul>
					<li>
						<%= link_to image_tag('havan-logo.png', :alt=>'Havan Logo'), 'http://lista.havan.com.br/Convidado/ItensLista/1/4855455', title: t('gift_registry_on_off'), :'rel' => 'external' %>
					</li>
					<li>
						<%= link_to image_tag('pernambucanas-logo.png', :alt=>'Pernambucanas Logo'), '#', title: t('gift_registry_off') %>
					</li>
					<li>
						<%= link_to image_tag('ponto-frio-logo.png', :alt=>'Ponto Frio Logo'), 'http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=448175', title: t('gift_registry_on'), :'rel' => 'external' %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="rsvp">
	<div class="container">
		<div class="row">
			<%= content_tag :h2, 'R.S.V.P.' %>
			<%= content_tag :p, 'Contamos com sua presença.' %>
			<%= content_tag :p, 'Por favor confirme até 30 de Outubro de 2015.' %>
			<%= content_tag :h3, 'lucienebindel@hotmail.com' %>
			<%= content_tag :h4, 'Obrigado!' %>
		</div>
	</div>
</div>